*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Setteo de variables*/

:root {
    --main-bg-azulmorado: #433D72;
    --main-bg-azul: #227C9D;
    --main-bg-verde: #48CFAE;
    --main-bg-sepia: #FFCB77;
    --main-bg-amarillo: #FFC10A;
    --main-bg-naranja: #F5784C;
    --main-bg-rojo: #E65F60;
}

.comfortaa-h1 {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.nunito-h2 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.montserrat-body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

body {
    max-width: 1600px;
    justify-self: center;
    font-family: "Montserrat", sans-serif;
}


/* Media query para pantallas de celular (máximo 600px) */
@media (max-width: 600px) {
    body{
        width: 100%;
        margin: 0 auto;
    }

    /* Ajustes al header */
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }
    
    .header_container {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
    /* Ajustes al banner */
    .banner_content {
        top: auto;
        bottom: 10px;
        text-align: center;
        padding: 5%;
    }
    
    .banner_content h2 {
        font-size: 60px;
    }
    
    .banner_content p {
        font-size: 20px;
    }
    
    /* Ajustes al botón */
    .btn {
        font-size: 18px;
        padding: 8px 12px;
        margin-top: 20px;
    }
}

main{
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-self: center;
    align-content: center;
    position: relative;
    max-width: 1200px;
    width: 100%;
    background-color: #433D72;
    color: #ffffff;
}

@media (max-width: 768px){
    main{
        overflow-x: hidden;
        width: 100%;
    }
}

header{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    width: 95%;
    position: absolute;
    top: 10px;
    left: 30px;
    color: aliceblue;
}

.menu{
    width: 100%;
    display: flex;
    align-items: center;
}

.menu_items{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 5px;
    width: 100%;
    position: absolute;
    gap: 5%;
    justify-content: flex-end;
    right: 20px;
}

.menu_items a{
    text-decoration: none;
    color: whitesmoke;
    font-size: large;
}

.menu_items a:hover{
    color: #48CFAE;
}

.menu_toggle {
    width: 30px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 20;
}

.menu_toggle span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
    transform-origin: center;
}

/* Animación a "X" cuando el menú está abierto */
.menu_toggle.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu_toggle.open span:nth-child(2) {
    opacity: 0;
}

.menu_toggle.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-end;
        z-index: 10;
        top: 5px;
        left: 0;
        width: 100%;
    }

    .header_container{
        width: 100%;
        padding: 10px 0;
        align-self: center;
    }

    header p {
        font-size: 0; /* Oculta el texto visualmente */
    }

    header p img {
        font-size: initial; /* Por si acaso */
        vertical-align: middle;
    }

    .menu_toggle {
        display: flex;
        padding: 0;
        cursor: pointer;
        z-index: 20;
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0px; /* Pegado al botón */
        right: 20px;
        width: 30%;
        background-color: rgba(0, 0, 0, 0.95);
        border-radius: 10px;
        padding: 20px;
        transition: all 0.3s ease;
        z-index: 10;
    }

    .menu_items {
        flex-direction: column;
        gap: 20px;
        position: static;
        text-align: center;
    }

    .menu_items:hover {
        color: #48CFAE;
    }

    .menu.open {
        display: flex;
    }


}

.logo{
    width: 40px;
}

.header_container {
    display: flex;
    padding: 10px 30px;
}

.header_container p {
    display: flex;
    align-items: center;
    gap: 10px; 
}

section{
    margin-top: 7%;
}

/*Portada*/

.banner_container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    width: 95%;
    border-radius: 16px;
    display: block;
    align-self: center;
}

.banner_content{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 7%;
    top: 20px;
}

.banner_content h2{
    font-size: clamp(50px, 5vw, 100px);
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
}

.banner_content p{
    font-size: 30px;
    font-weight: 300;
    font-family: "Nunito", sans-serif;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .banner{
        width: 100%;
        margin-top: -10px;
    } 
    .banner_container {
        width: 100%;
        padding: 0 5%;
        position: relative;
        z-index: 1;
        margin: 0;
        padding: 0;
    }

    .banner_content{
        display: block;
        flex-direction: column;
        width: 100%;
        padding: 0 7%;
        top: 110px;
        text-align: left;
    }

    .banner_content h2{
        font-size: 55px;
        width: 100%;
    }

    .banner_content p{
        font-size: 20px;
        width: 60%;
        margin-bottom: 15px;
    }

    .banner_content .btn{
        font-size: 15px;
        padding: 5px 10px;
    }
}

.btn{
    text-decoration: none;
    color: #433D72;
    background-color: #FFCB77;
    padding: 10px;
    margin-top: 50px;
    border-radius: 16px;
    font-size: 25px;
    font-weight: 700;
    width: fit-content;
    font-family: "nunito", sans-serif;
}

/*Banda de Marcas*/

.marcas_container{
    margin-top: 15px;
}

.marcas_container h3{
    padding: 15px 45px;
    font-family: "nunito", sans-serif;
    font-weight: 200;
    font-size: 25px;
}

.marcas{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
}

.fa-brands{
    color: #227C9D;
    font-size: 100px;
    padding: 15px;
}

.fa-brands:hover{
    color: #433D72;
    transition: 0.5s;
}

@media (max-width: 768px) {
    .marcas_container{
        text-align: center;
    }
    .marcas_container h3{
        font-size: 20px;
        padding: 15px 0;
    }

    .fa-brands{
        font-size: 60px;
    }
}

/*Cards Verticales*/

.servicios {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    gap: 20px;
    color: #ffffff;
    margin-top: 5%;
}

.servicios .swiper {
    margin-bottom: 5%;
    position: relative; /* necesario para posicionar correctamente navegación */
}

.swiper-slide {
    margin-right: auto !important; /* Sobrescribe el estilo inline */
}

.swiper-wrapper{
    display: flex;
    gap: 20px;
}

.vertical_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 10px;
    text-align: center;
    transition: transform 0.5s;
    box-sizing: border-box;
    max-width: 350px;
    margin: 0 auto;
}

.vertical_card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.vertical_card img {
    width: calc(100% - 30px);
    border-radius: 16px;
}

.vertical_card h2, .vertical_card p {
    color: #433D72;
}

.vertical_card h2 {
    font-size: 1.25rem;
    margin: 0;
}

.vertical_card p {
    font-size: 1rem;
    margin: 0;
}

.swiper-button-next, .swiper-button-prev {
    color: #000;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

@media (min-width: 1200px) {
    .swiper-button-next, .swiper-button-prev, .swiper-pagination {
      opacity: 0;
    }
}

@media (max-width: 768px) {
    .swiper-wrapper{
        gap: 0;
    }

    .vertical_card {
        max-width: 90%;
        margin: 30px;
    }

    .vertical_card img {
        width: calc(100% - 20px);
    }

    .swiper-button-next, .swiper-button-prev {
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .vertical_card {
      margin: 0 16px;
    }
}

/*Banner 2*/

.middle_banner {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.middle_banner img {
    width: 90%;
    display: block;
    border-radius: 16px;
}

.text_container {
    position: absolute;
    text-align: right;
    padding: 20px;
    top: 20%;
    gap: 40px;
    border-radius: 8px;
    color: white;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text_container h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.text_container p {
    font-size: 1.2rem;
    width: 35%;
}

.btn {
    display: inline-block;
    background: var(--main-bg-sepia);
    color: #433D72;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
    margin: 0;
}

.btn:hover {
    background: var(--main-bg-amarillo);
}

/*Cards horizontales*/

.horizontal_cards{
    width: 100%;
    display: flex;
    justify-content: center;
}

.horizontal_container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 20px;
}

.horizontal_card img{
    width: 100%;
    border-radius: 16px;
    margin-bottom: 25px;
}

.horizontal_card{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
    border-radius: 16px;
    padding: 20px;
}

.horizontal_card:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.contact{
    background-color: #ffffff;
    color: #433D72;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    padding: 10px;
}

.contact_container{
    display: flex;
    gap: 20px;
    padding: 5%;
    justify-content: space-between;
}

.contact_text{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    gap: 20px;
    width: 40%;
}

.contact_text h2{
    font-size: 2rem;
    margin-bottom: 10px;
}
.contact_text p{
    font-size: 1.2rem;
}

.contact_form{
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    width: 40%;
}

.form_btn{
    color: #ffffff;
    border-style: none;
    background-color: #227C9D;
    font-size: large;
    height: 35px;
    font-weight: 700;
    font-family: "nunito", sans-serif;
    border-radius: 8px;
}

.form_btn:hover{
    background-color: #48CFAE;
    color: #227C9D;
    transition: 0.5s;
}

.campo{
    border-radius: 8px;
    border: 2px solid #48CFAE;
    padding: 10px;
    font-family: "montserrat", sans-serif;
}

/*Footer*/

footer{
    justify-self: center;
    width: 100%;
}

.footer_content{
    background-color: #433D72;
    color: #ffffff;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.mapa_sitio{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.footer_logo{
    width: 90px;
}

.footer_menu{
    list-style: none;
}

.footer_menu a{
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
}

.footer_menu a:hover{
    color: #48CFAE;
}

.texto_redes{
    padding: 5px 0;
}

.texto_redes h3{
    font-size: 35px;
}

.footer_content p{
    font-family: "Nunito", sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding-top: 5px;
}

.footer_social{
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    padding-top: 20px;
}

.footer_social i{
    flex-flow: column nowrap;
    display: flex;
    font-size: 25px;
}

.footer_social i:hover{
    color: #48CFAE;
    transition: 0.5s;
}

.footer_social a{
    color: #ffffff;
    text-decoration: none;
}

.footer_content h4{
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

/*Probando medias*/

@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    h1 {
        font-size: 18px;
    }

    p {
        font-size: 13px;
    }

    button {
        font-size: 13px;
        padding: 8px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 600px;
    }

    h1 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    button {
        font-size: 16px;
        padding: 12px;
    }
}
